*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body{
    /* position: relative; */
    /* position: absolute; */
    height: 100%;
    width: 100%;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color:#000;
    /* overflow-x: hidden; */
    /* border: 2px solid; */
}
/* .overall-container::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    background-image: url("./lost-items-images/Dog.jpg");
    background-repeat: no-repeat;
    background-position: center;
    animation: crossFade 2s ease-in-out 0s 1 alternate, imageFade .5s ease-in-out 1s 1 alternate;
    z-index: 100;
} */
/* .overall-container::after {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;  
    background-image: url("./lost-items-images/Dog.jpg");
    background-repeat: no-repeat;
    background-position: left;
    animation: crossFade 5s ease-in-out 0s 1 alternate, imageFade .5s ease-in-out 0s 1 alternate;
    transition: background-image 2s ease-in-out;
    z-index: 100;
} */
/* @keyframes crossFade {
    0%{
        width:60%;
        cursor: pointer;
        
    }
    100%{
        width:0;
        background-image: none;
    }
}

@keyframes imageFade {
  
    0%{
        background-image: url("./lost-items-images/Dog.jpg");
        background-repeat: no-repeat;
        background-position: left;
    }
    100%{
        background:none;
    }
} 
*/

.overall-container{
    position: relative;
    max-width: 2000px;
    width: 100%;
    height:100%;
    margin:0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid brown; */
}

.mobile-filter-background{
    position:absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    z-index: 5;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
}
/* .mobile-filter-container{
    position:absolute;
    bottom: 0;
    top:0;
    right:-100%;
    left:100%;
    width:100%;
    z-index: 6;
    display:flex;
    align-items:flex-start;
    justify-content:center;
    border: 2px red solid;
    transition: right .15s ease-in;
    margin: 0 auto;
    visibility:hidden;
} */
.mobile-filter-div{
    /* position: relative; */
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(100%, 0%) scale(0);
    transform-origin: right;
    transition: transform .15s ease-in;
    background-color: #fff;
    width:75%;
    height: 100%;
    max-width: 1960px;
    /* margin-top: 2em; */
    z-index: 11;
    /* opacity: 1; */
    border: 0;
    padding:0 .5em;
    font-size: .85rem;
    font-weight: 600;
    box-shadow: 0px 0px 2px -1px rgb(48, 47, 47);
    pointer-events: all;
    overflow-y: scroll;

}

.mobile-filter-div .mobile-exit-div{
    position: relative;
    top:10px;
    /* border: 2px solid; */
    float: right;

}
.mobile-filter-div .mobile-exit-btn{
    font-weight: 200;
    color: rgb(150, 141, 141);
    font-size: 1.5rem;
    cursor: pointer;
}

.to-top{
    position: fixed;
    top:80%;
    right: 1%;
    opacity: .6;
    text-decoration: none;
    display: none;
}


}
header{
    position:sticky;
    width:100%;
    z-index: 3;
    border-bottom: 1px solid rgb(218, 214, 214);
    border-radius: 4px;
    background-color: #fff;
    /* box-shadow: 0px 3px 4px -3px rgb(48, 47, 47); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    margin-bottom: 1em;
    padding: .25em 0;
}
.logo-name-div{
    display:flex;
    align-items: center;
    color:#592C54;
    font-weight: 700;
    cursor: pointer;
}
.logo-div{
    height:100%;
}
.name{
    margin-left:10px;
}
.logo{
    height: 80px;
    margin: auto 0;
    object-fit: cover;
}
.logo-home{
    text-decoration: none;
}
.nav-container{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* border: 2px solid black; */
}
.nav-item{
    position: relative;
    list-style: none;
    margin:0 1.5em;
    font-size: .9rem;
    font-weight: 600;
    /* color:#592C54; */
        /* color:#7c306c; */
    cursor: pointer;
}

.nav-link{
    position: relative;
    text-decoration: none;
    color:#592C54;
}
.nav-link::before{
    content: '';
    position:absolute;
    top: 100%;
    height:.15em;
    width: 0;
    background-color: rgb(160, 126, 126);
    left:0;
    transition: width .2s ease-in;
}
.nav-link:hover{
    color:#7c306c;
}
.nav-link:hover::before{
    width:100%;
}
.menu-bar{
    display: none;
    cursor: pointer;
}

.btn{

/* outline-style:thin; */
outline:0;
border: 0;;
padding: 1em;
border-radius:10px;
background-color: #592C54;
color:#fff;
/* font-weight: bold; */
font-size: .75rem;
cursor: pointer;
transition-property: background-color, color,  box-shadow;
transition-duration: .2s;
transition-timing-function: ease-in;
box-shadow: 0px 1px 1px 1px rgb(212, 210, 210);

}
.btn:hover, .btn:focus{
    background-color: transparent;
    /* color: #592C54; */
    /* border:1px solid; */
    color:#7c306c;
    /* color: #000; */
    /* box-shadow: .35px 1px 1px 0px #000; */
    box-shadow: 0px 1px 2px 0px rgb(48, 47, 47);
}

main{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-text, .num-div, .filter-lost-items-container{
    width: 100%;
}
.big-text{
    
    /* margin-left:4.5em; */
    font-size: 2.5em;
    /* margin-bottom: 1em; */
}
.lost-emphasis{
    position: relative;
}

.lost-emphasis::before{
    content: '';
    position:absolute;
    top: 100%;
    height:3px;
    /* width: 100%; */
    background-color:rgb(71, 179, 123);
    left:0;
    animation-name: emphasis;
    animation-duration: .75s;
    animation-iteration-count:1;
    animation-fill-mode: forwards;
    /* animation-direction:alternate; */
    animation-direction: normal;
    animation-timing-function: ease-in;
    
    /* animation: emphasis .3s ease-in 0 infinite normal forwards; */
}


@keyframes emphasis{
    0%{
        width:0;
    }
    100%{
        width:100%;
    }
}

.num-div{
    text-align: right;
    margin-bottom: 1em;
}
.lost-items-container{
    width:76%;
    display: grid;
    grid-template-columns:1fr 1fr;
    /* grid-template-columns: repeat(2, autofit) 1fr; */
    /* grid-column: 300px 300px 300px; */
    /* grid-auto-columns: repeat(autofit, 2); */
    /* grid-auto-columns: 1fr 1fr; */
    grid-template-rows:minmax(230px,280px);
    grid-auto-rows: minmax(230px,280px);
    grid-auto-flow: row;
    gap:1em;	
    grid-area: item-container;
    /* border: 2px solid red; */
    /* border-top: 1px solid; */

}
.lost-item-container{
    /* border: 2px solid yellow; */
    background-color: #f7eef5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width:100%;
    padding: .5em;
    height: 100%;
    border-radius: 5px;
}
.item-time-uploaded-div{
    margin:.5em;
    
}
.time-uploaded{
    font-size: .7rem;
    font-family: cursive; 
    font-style: italic;
}
.lost-item-div{
    display: flex;
    align-items: center;
    /* border: 2px solid; */
    width: 100%;
    justify-content: center;

    padding:.35em 0;

}
.image-slider-container
{
    /* width:35%; */
    position: relative;
    height: 150px;
    /* width: 150px; */
    /* max-height: 175px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}
.image-slider-container::before{
    content:'';
    position: absolute;
    top: 100%;
    left: 43%;
    width:5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid;
    margin-top:15px;
    background-color:#592C54;
}
.image-slider-container::after{
    content:'';
    position: absolute;
    top: 100%;
    left: 43%;
    width:5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid;
    margin-top:15px;
    margin-left: 15px;
    background-color:#fff;
}
.circle-highlightt::before{
    background-color:#fff;
}
.circle-highlightt::after{
    background-color:#592C54;
}

.circle-highlight::before{
    background-color:#592C54;
}
.circle-highlight::after{
    background-color:#fff;
}

.image-container{
    position: relative;
    display: flex;
    height: 100%;
    width: 150px;
    margin:0 .3em;
    box-shadow: 0px 0px 3px 0px rgb(48, 47, 47);
  /* overflow: hidden; */
}
.slider-container{
    /* border: 2px solid; */
    /* margin-left: .3em; */
    transition: opacity .4s ease-in-out;
}
.slide-image{
    background-color: #592C54;
    color: #fff;
    border: 0;
    /* padding: .25em .35em; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    opacity: .8;
    

}

.prev-image-container{
    /* display:none; */
    opacity: 0;
    pointer-events: none;
}

.item-image{

   display: block;
   /* max-width:100%; */
    /* height: 100%; */
  object-fit: cover; 

  /* position: relative; */
  /* display: block; */
  /* top:0;
  left:0;
  right:0;
  bottom:0; */
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
    /* max-width: 100%; */
}

.right-img{
    position: absolute;
    left:0;
    opacity: 0;
    pointer-events: none;

    /* transform: scaleX(0); */

    /* display: none; */
    /* transform: translateX(-150px); */
   /* transform:scaleX(0); */
   /* width:153px; */
   width:100%;
   height: 100%;
   object-fit: cover;
}
.lost-item-content-div{
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
    margin-left: 1em;
    /* width:65%; */
}
.item-label{
    font-size: .75em;
    text-transform: capitalize;
}
.item-details-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:.3em 0;
    /* border: 2px solid; */
}
.details-input{
    border: 0;
    pointer-events: none;
    outline:0;
    text-transform: capitalize;
    color:#000;
    font-size: .9rem;
    max-width:153px;
    padding-left: .25em;
    font-weight: 600;
    text-align: left;
    background-color: transparent;
    /* border:2px solid; */

}
.item-date-found-div{
    margin-bottom: 1em;
}

.retrieve-item-btn{
    outline: none;
    border-radius:15px;
    padding:.7em 1em;
}
a{
    outline: none;
}



.check{
    margin-right:.5em;
}

.select-location-true,.select-date-true{
    display: none;
}
.select-location-true li{
    display: flex;
    align-items: center;
}

.time-period-div{
    /* display: none; */
}

@media (max-width:930px) {
    .lost-items-container{
        grid-template-columns: .9fr;
        /* ASK UI IF THE SPACING IS RIGHT AND WHAT TO DO WITH THE EMPTY SPACES, GRAPHICS???? */
        place-content: center;
        padding: 0;
        margin: 0;
    }
}

@media (max-width:850px) {
    .nav-container, .login-btn{
        display: none;
        /* flex-direction: column; */
    }
    .menu-bar{
        display: block;
    }
}
@media (max-width:450px) {
    :root{
        font-size: 14px;
    }
    .lost-item-div{
        flex-direction: column;
        align-items: center
        /* justify-content: space-between; */
    }
    .image-slider-container{
        /* border: 2px solid; */

    }
    .lost-item-content-div{
        /* border: 2px solid; */
        margin: 0;
    }
    .filter-menu{
        width: 100%;
    }
    .lost-items-container{
        grid-template-columns: 1fr;
     
    
        /* grid-template-columns: repeat(2, autofit) 1fr; */
        /* grid-column: 300px 300px 300px; */
        /* grid-auto-columns: repeat(autofit, 2); */
        /* grid-auto-columns: 1fr 1fr; */
        grid-template-rows:minmax(200px,400px);
        grid-auto-rows:minmax(200px,400px);
        gap:1em;	
        /* border: 2px solid red; */
        /* border-top: 1px solid; */

    }
    .lost-item-content-div{
        margin-top: 2em;
    }
    .item-category-div{
        margin-top:.25em;
    
    }
    .category{
        text-align: left;
    }
    .retrieve-item-btn{
        align-items: center;
    }
    
}

