<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found an item</title>
    <link rel="stylesheet" href="found_an_item_files/found_an_item_page.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
    </style>
</head>

<body>
    <div class="full_page">
        <div class="full-page">
            <%- include('./partials/nav_bar.ejs') %>

                <!-- main -->
                <form class="main" action="/api/v1/submit-item" method="post" enctype="multipart/form-data">
                    <div class="main-header">
                        <!-- <label for=""><img src="./lost-items-images/back.png" alt="" srcset="" class="back_pic"></label>
                  -->
                        <a href="/home">
                            <label style="font-weight: 700;" for="">
                                < </label>
                                    <!-- COME AND REMOVE THIS SCOPE -->
                                    <p class="back_text">Back to home</p>
                        </a>
                    </div>
                    <div class="main-center">
                        <!-- <div class="input_txtbx_div form-info-div"> -->
                        <h3 class="form-info">SUBMIT A FOUND ITEM</h3>
                        <!-- </div> -->
                        <div class="main-center-center">
                            <div class="main-center-center-left">
                                <div class="input_txtbx_div">
                                    <input type="text" name="item_name" class="input_txtbx" id=""
                                        placeholder="Item name">
                                </div>
                                <div class="input_txtbx_div">
                                    <select name="Category" class="input_txtbx" id="">
                                        <option value="N/A">Select category</option>
                                        <option value="Laptop">Laptop</option>
                                        <option value="Tablet">Tablet</option>
                                        <option value="Miscellaneous">Miscellaneous</option>
                                    </select>
                                </div>
                                <div class="input_txtbx_div">
                                    <input type="text" class="input_txtbx" name="Description" id=""
                                        placeholder="Brief description identifying marks">
                                </div>
                                <div class="input_txtbx_div">
                                    <input type="text" class="input_txtbx" name="Location" id=""
                                        placeholder="Location found">
                                </div>
                            </div>
                            <div class="main-center-center-right">
                                <div class="upload_first_pic">
                                    <!-- <br> -->
                                    <div class="first-pic-container upload-pic-container">
                                        <div class="upload_svg_div">
                                            <img src="found_an_item_files/lost-items-images/upload.png"  class="upload_pic" alt="" srcset="">
                                        </div>

                                        <div class="upload_text1_div">
                                            <p class="upload-text"> Upload first picture or drag and drop here </p>
                                        </div>
                                    </div>
                                    <input type="file" name="image">
                                </div>
                                <div class="upload_second_pic">
                                    <!-- <br> -->
                                    <div class="first-pic-container upload-pic-container">
                                        <div class="upload_svg_div">
                                            <img src="found_an_item_files/lost-items-images/upload.png" class="upload_pic" alt="" srcset="">
                                        </div>
                                        <div class="upload_text2_div">
                                            <p class="upload-text"> Upload second picture or drag and drop here </p>
                                        </div>
                                    </div>
                                    <input type="file" name="image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-footer">
                        <div class="main-footer-center">
                            </label><input type="submit" class="submit_button btn" value="Submit">
                        </div>
                    </div>


                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>

                </form>


                <!-- footer -->
                <footer>

                </footer>

        </div>
    </div>
</body>

</html>
<!-- 

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script> -->

<script>
    if ("<%=  info.activeAdmin %>" != "") {
        document.getElementById("loginBtnDiv").innerHTML = ` <%=  info.activeAdmin %> <br> <br> <a href = "/log-out"> Log out</a>`
    }
</script>