* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.lost-items-container {
    width: 76%;
    /* border:2px solid; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: repeat(2, autofit) 1fr; */
    /* grid-column: 300px 300px 300px; */
    /* grid-auto-columns: repeat(autofit, 2); */
    /* grid-auto-columns: 1fr 1fr; */
    grid-template-rows: minmax(230px, 280px);
    grid-auto-rows: minmax(230px, 280px);
    grid-auto-flow: row;
    gap: 1em;
    grid-area: item-container;
}

.lost-item-container {
    position: relative;
    /* border: 2px solid yellow; */
    background-color: #f7eef5;
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
    /* flex-direction: column; */
    width: 100%;
    /* padding: .5em; */
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.lost-item-div {
    position: relative;
    display: flex;
    align-items: center;
    /* border: 2px solid; */
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
    /* gap: 1em; */
    padding: .35em 0;
}

.image-content-div {
    display: flex;
    align-items: center;
}

.line {
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    /* right: 100%; */
    left: 13%;
    height: 100%;
    background-color: black;
}

.retriever-details-div {
    position: relative;
    width: 100%;
    /* width: max-content; */
    /* height:240px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    transform-origin: top;
    transform: scale(1);
}

.retriever-details {
    /* border:2px solid; */
    /* padding:.5em; */
}

.retriever-details-heading {
    margin-bottom: .5em;
}

.retriever-details-item {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 1em;
    /* padding:.25em; */
    /* border:2px solid; */
}

.show-details-div {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    /* border:2px solid; */
    /* z-index: 1; */
}

.retrieve-item-btn {
    display: none;
}

.exit-details {
    display: none;
}

.item-category-div,
.item-time-uploaded-div {
    /* margin-top:.25em; */
    position: absolute;
    left: 0;
    left: 5px;
}

.item-time-uploaded-div {
    top: 0;
}

.item-category-div {
    bottom: 0;
    /* bottom:10px; */
}

@media (max-width:1220px) {
    .lost-items-container {
        width: 100%;
        gap: 1em;
    }
    .line {
        left: 16%;
    }
    /* .retriever-details-div {
        margin-left: 15%;
        width: 85%;
    } */
    /* .image-content-div {
        margin-right: 5%;
    } */
}

@media (max-width:930px) {
    .lost-items-container {
        grid-template-columns: .9fr;
        /* ASK UI IF THE SPACING IS RIGHT AND WHAT TO DO WITH THE EMPTY SPACES, GRAPHICS???? */
        place-content: center;
        padding: 0;
        margin: 0;
    }
    .line {
        left: 8%;
    }
}

@media (max-width:850px) {
    /*    
    .lost-item-div{
       justify-content: center;
    } */
    .line {
        display: none;
    }
    .retriever-details-div {
        /* flex-direction: row; */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(156, 146, 146, 1);
        justify-content: center;
        align-items: center;
        position: absolute;
        color: black;
        height: 180px;
        width: 100%;
        z-index: 2;
        /* transform-origin: top; */
        transform: scale(0);
        /* display: none; */
    }
    .show-details-btn {
        /* display: block; */
        display: none;
        background-color: transparent;
    }
    .show-details-div {
        display: block;
        z-index: 1;
    }
    .exit-details {
        display: block;
        margin-right: .25em;
        /* display: none; */
        box-shadow: none;
        font-size: 1.5em;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }
    .exit-details:hover,
    .exit-details:focus,
    .exit-details:active {
        box-shadow: none;
    }
    .retriever-details {
        /* display: flex;
        align-items: center; */
        /* border: 2px solid; */
        /* padding:.35em;
        height:100%;
        margin:0;
        justify-content: center; */
    }
    /* .retriever-details-item{
        flex-direction: column;
        margin:0;
        /* border:2px solid; */
    /* align-items: center; */
    /* .retriever-details-heading{
        border:2px solid;
        text-align: left;
        margin-left:.25em;
        width:100%;
        
    } */
    .details-input {
        /* border:2px solid; */
        text-align: center;
        margin-top: .25em;
        color: #000
    }
}

@media (max-width:700px) {
    .show-details-btn {
        font-size: .6em;
    }
}

@media (max-width:450px) {
    .show-details-btn {
        font-size: .5em;
    }
    .lost-item-div {
        flex-direction: column;
        justify-content: space-between;
        /* border: 2px solid; */
    }
    .lost-items-container {
        grid-template-columns: 1fr;
        /* grid-template-columns: repeat(2, autofit) 1fr; */
        /* grid-column: 300px 300px 300px; */
        /* grid-auto-columns: repeat(autofit, 2); */
        /* grid-auto-columns: 1fr 1fr; */
        grid-template-rows: minmax(200px, 400px);
        grid-auto-rows: minmax(200px, 400px);
        gap: 1em;
        /* border: 2px solid red; */
        /* border-top: 1px solid; */
        /* height:1000px; */
    }
    .lost-item-container {
        height: 100%;
    }
    .lost-item-content-div {
        margin-top: 2em;
    }
    /* .retriever-details-heading{
        margin-bottom:.5em;
    } */
}