:root {
  font-size: 16px;
  scroll-behavior: smooth;
  --swiper-navigation-size: 30px !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

a,
ul {
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.site-container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  padding: 1em;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.home-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 5rem;
  position: relative;
  align-items: center;
}

.home-img-container {
  width: min(80%, 250px);
  position: relative;
  margin: 0 auto;
  margin-bottom: 2.1rem;
  opacity: 0;
  animation: hero-animate 1s 0.65s ease forwards;
}

.home-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-info-container {
  opacity: 0;
  transform: translateY(90px);
  animation: fp-animate 0.5s ease forwards;
}

@keyframes fp-animate {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hero-animate {
  to {
    opacity: 1;
  }
}

.home-header {
  font-weight: 600;
  margin-bottom: 2rem;
}

.home-desc {
  margin-bottom: 2rem;
  line-height: 15px;
  color: rgba(7, 10, 34, 0.6);
  font-size: 0.9rem;
  max-width: 58ch;
}

.home-buttons {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  outline: 0;
  border: 0;
  padding: 1em;
  border-radius: 10px;
  background-color: #592c54;
  color: #fff;
  font-size: 0.65rem;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  box-shadow: 0px 1px 1px 1px rgb(212, 210, 210);
}

.btn:hover,
.btn:focus {
  background-color: transparent;
  color: #7c306c;
  box-shadow: 0px 1px 2px 0px rgb(48, 47, 47);
}

.retrieve-item-btn {
  margin-right: 2.5rem;
}

#findW,
#lostW {
  width: min-content;
  position: relative;
  font-style: normal;
}

#findW::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  background-color: #00aa51;
  border: 1.5px solid #00aa51;
  width: 60%;
  height: 0;
  opacity: 0;
  animation: underline 0.7s 1.3s ease forwards;
  transform-origin: left;
  transform: scale(0);
}

#lostW::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  background-color: #00aa51;
  border: 1.5px solid #00aa51;
  width: 50%;
  height: 0;
  opacity: 0;
  animation: underline 0.7s 1.3s ease forwards;
  transform-origin: left;
  transform: scale(0);
}

@keyframes underline {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.about-section {
  padding: 2rem;
  position: relative;
}

.home-circle-container {
  position: absolute;
  width: 0px;
  height: 0px;
}

.home-circle-container img {
  width: 100%;
  height: 100%;
}

.about-header {
  font-weight: 600;
  margin-bottom: 3.5rem;
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: 1s ease;
  max-width: 8ch;
}

.about-header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  background-color: #964b8e;
  border: 0.5px solid #964b8e;
  width: 100%;
  max-width: 456px;
  height: 0;
}

.about-desc {
  line-height: 14px;
  color: rgba(7, 10, 34, 0.6);
  max-width: 120ch;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.7s ease;
  position: relative;
  line-height: 1.5;
}

.admin-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 0;
  padding-bottom: 5rem;
  position: relative;
}

.monitor-circle-container {
  width: 30vw;
  height: 30vw;
  position: absolute;
  right: -10vw;
  bottom: -5vw;
}

.monitor-circle-container img {
  width: 100%;
  height: 100%;
}

.admin-pic-container {
  width: min(90%, 450px);
  overflow-y: hidden;
  position: relative;
  display: grid;
  place-items: center;
  padding: 18px;
  margin-bottom: 2rem;
}

.admin-pic {
  width: 100%;
}

.rec1,
.rec2 {
  position: absolute;
  width: min(95%, 450px);
}
.rec1 {
  top: 0;
  right: 0;
}
.rec2 {
  bottom: 2%;
  left: 0;
}

.admin-section-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  opacity: 0;
  transition: 0.5s ease-in;
  transform: translateY(30px);
}

.admin-section-info h1 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
  text-align: center;
}

.admin-section-info p {
  color: rgba(7, 10, 34, 0.6);
  margin-bottom: 1.3rem;
  text-align: center;
  max-width: 55ch;
}

.recentlyFound-section {
  padding: 2rem;
  padding-bottom: 5rem;
  position: relative;
}

.recent-header {
  position: relative;
  margin-bottom: 3rem;
  max-width: 14ch;
}

.recent-header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  background-color: #964b8e;
  border: 0.5px solid #964b8e;
  width: 90%;
  height: 0;
}

.recent-items-container {
  width: 100%;
  position: relative;
  display: flex;
  padding: min(2vw, 2rem);
  overflow-x: auto;
}

.recent-items-container::-webkit-scrollbar- {
  width: 50%;
  height: 0.5px;
  border-radius: 5px;
  background-color: #964b8e;
}

.recent-item {
  display: flex;
  background: rgba(150, 75, 142, 0.05);
  box-shadow: 0px 4px 10px rgba(249, 244, 248, 0.25);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  position: relative;
  margin-right: 2rem;
}

.recent-left {
  padding: min(2vw, 2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.recent-right {
  width: 50%;
  padding: min(3vw, 2rem);
}

.recent-img-container {
  width: 5em;
  height: 5em;
  margin-bottom: 1rem;
}

.recent-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent-item p {
  font-size: min(2vw, 0.8rem);
}

.recent-info-head {
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.recent-info {
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.retrieve-recent-btn {
  justify-self: center;
  text-align: center;
  padding: 1em;
  border-radius: 10px;
  background-color: #592c54;
  color: #fff;
  font-size: 0.65rem;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  box-shadow: 0px 1px 1px 1px rgb(212, 210, 210);
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}

#see-items {
  position: absolute;
  right: 2rem;
  margin-top: 1rem;
  color: #964b8e;
  font-size: 13.5px;
}

.talk-section {
  position: relative;
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
}

.talk-container {
  width: 90%;
  background-color: #592c54;
  color: white;
  padding: 2rem 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.talk-btn {
  background-color: white;
  color: #592c54;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  display: grid;
  place-content: center;
  font-weight: 500;
  font-size: 1.1rem;
}
.talk-btn:hover {
  background-color: white;
  color: #592c54;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  display: grid;
  place-content: center;
  font-weight: 500;
  font-size: 1.1rem;
}

.talk-container h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  /* align-items: center; */
  justify-content: space-between;
  border-top: 1px solid #592c54;
}

.f-section {
  margin-bottom: 2rem;
}

.f-section p {
  font-size: 0.9rem;
  color: #592c54;
  margin-bottom: 1rem;
}

.footer-head {
  font-weight: 600;
  font-size: 1rem;
}

.inview {
  opacity: 1;
  transform: translateY(0px);
}

@media screen and (max-width: 291px) {
  .retrieve-item-btn {
    margin-bottom: 0.8rem;
  }

  .recent-img-container {
    width: 50px;
    height: 50px;
  }

  .admin-section-info h1,
  .recent-header {
    font-size: 1.8rem;
  }

  .retrieve-recent-btn {
    padding: 3px;
    border-radius: 5px;
  }

  .about-desc {
    font-size: 0.8rem;
  }

  .recent-item {
    margin-right: 0.3rem;
  }
}

@media screen and (max-width: 355px) {
  .retrieve-item-btn {
    margin-bottom: 0.8rem;
  }
}

@media screen and (min-width: 410px) {
  .home-section,
  .about-section,
  .admin-section,
  .recentlyFound-section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .home-img-container {
    width: 70%;
  }

  .recent-img-container {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 502px) {
  .home-section {
    align-items: flex-start;
  }
  .home-section,
  .about-section,
  .admin-section,
  .recentlyFound-section {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .home-img-container {
    margin-bottom: 2rem;
  }

  .home-header {
    font-size: 3rem;
  }

  .recent-img-container {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 595px) and (max-width: 999px) {
  .recent-items-container {
    width: 400px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1365px) {
  .recent-items-container {
    width: 800px;
  }
}
@media screen and (min-width: 1366px) {
  .recent-items-container {
    width: 1100px;
  }
}
@media screen and (min-width: 768px) {
  .home-header {
    font-size: 3.5rem;
  }

  .admin-section {
    flex-direction: row;
    justify-content: flex-start;
    padding: 5rem;
    padding-right: 0;
  }

  .admin-section-info {
    align-items: flex-start;
  }

  .admin-section-info h1 {
    font-size: 2.5rem;
  }

  .recent-img-container {
    width: 120px;
    height: 120px;
  }

  .admin-section-info h1,
  .admin-section-info p {
    text-align: unset;
  }
  .footer {
    flex-direction: row;
    position: relative;
    align-items: center;
    padding: 3.5rem 2rem;
  }

  .f-section {
    margin-bottom: 0;
  }
  .copyright {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
  }
}

@media screen and (min-width: 819px) {
  .home-section,
  .about-section,
  .admin-section,
  .recentlyFound-section {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .home-section {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-right: 5rem;
  }

  .home-desc {
    max-width: 50ch;
  }

  .home-img-container {
    width: 350px;
    margin: auto;
  }

  .talk-container {
    flex-direction: row;
    justify-content: center;
    padding: 5rem 2rem;
    align-items: center;
  }
  .talk-container h1 {
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .home-circle-container {
    position: absolute;
    left: -3rem;
    top: -7rem;
    width: 14rem;
    height: 14rem;
  }

  .home-circle-container img {
    width: 100%;
    height: 100%;
  }

  .monitor-circle-container {
    bottom: -12vw;
  }
}

@media screen and (min-width: 1067px) {
  .home-section {
    justify-content: space-between;
    padding-right: 7rem;
  }

  .home-img-container {
    margin: 0;
    padding: 0;
  }
  .home-header {
    font-size: 3.5rem;
  }

  .about-header {
    font-size: 3rem;
  }

  .admin-section {
    padding-right: 5rem;
  }

  .home-circle-container {
    position: absolute;
    left: -3rem;
    top: -8.5rem;
    width: 18vw;
    height: 18vw;
  }
}

@media screen and (min-width: 1153px) {
  .home-section {
    justify-content: space-between;
    padding-right: 8em;
    padding-top: 3rem;
  }

  .recent-header {
    font-size: 3.5rem;
  }
  .home-img-container {
    margin: 0;
    padding: 0;
    width: 500px;
  }
  .home-circle-container {
    position: absolute;
    left: -3rem;
    top: -11rem;
    width: 18vw;
    height: 18vw;
  }
}

@media screen and (min-width: 1223px) {
  .home-header {
    font-size: 4rem;
  }

  .about-header,
  .admin-section-info h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1265px) {
  .home-section,
  .about-section,
  .admin-section,
  .recentlyFound-section,
  .talk-section {
    padding-left: 10rem;
  }

  .talk-section {
    padding-right: 5rem;
  }

  .talk-container {
    width: 100%;
  }

  .admin-section-info {
    margin-left: 5rem;
  }

  .monitor-circle-container {
    position: absolute;
    width: 25vw;
    height: 25vw;
  }
}
